body {
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    width: 70%;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
 }

.title {
   font-size: 50px;
   color: lightskyblue;
}

.desc {
   color: lightcoral;
}

.bar {
    width: 100%;
    height: 4vh;
    min-height: 40px;
    max-height: 55px;
    display: flex;
    width: 80%;
    margin-top: 20px;
}

.submit {
    height: 100%;
    min-height: 23px;
    background: lightskyblue;
    color: white;
    font-size: 25px;
    border: none;
    box-sizing: border-box;
}

.submit:hover {
    text-decoration: underline;
    cursor: pointer;
}
 
.submit:focus {
     outline: none;
}

#longUrl {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-bottom: 20px;
}

#url {
   width: 100%;
   height: 100%;
   min-width: 150px;
   font-size: 20px;
   border: 1px solid lightskyblue;
   box-sizing: border-box;
   color: rgb(50,50,50);
   padding: 5px;
}

#url:focus {
   outline: none;
}